body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    background: crimson;
    color: #fff;
}

header{
    background: rgba(112, 25, 42, 0.664);
    margin-top: 0;
    padding: 15px 0 ;
}
header h1{
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

#current-word{
    font-size: 50px;
    font-family: cursive;
    margin: 0 0 10px 0;
}

input{
    width: 80%;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.instructions{
    width: 80%;
    background-color: rgb(253, 253, 253);
    color: crimson;
    padding:5px 10px 20px;
    border-radius: 5px;
    margin: 0 auto;

    
}